/* https://codepen.io/mohaiman/pen/MQqMyo
https://uicookies.com/css-background-pattern/*/
/*@import url('https://fonts.googleapis.com/css?family=Exo:400,700');*/

/*https://freshman.tech/css-grid-calculator/*/

*, *::before, *::after {
    box-sizing: border-box;
    font-family: system-ui, sans-serif;
    font-weight: normal;
}


body {
    margin: 0;
    padding: 0;
    background: linear-gradient(#6EDCC7, #6EC8DC);
}

.calculator {
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 80vh;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(120px, auto) repeat(5, 100px);
}

.calculator > button {
    cursor: pointer;
    font-size: 1.5rem;
    border: solid #FFFFFF;
    outline: none;
    background-color: rgba(255, 255, 255, 0.75);
}

.calculator > button:hover {
    background-color: #a9a9a9;
}

.span-two {
    grid-column: span 2;
    color: teal;
}

.output{
    grid-column: 1 / -1;
    background-color: rgba(0, 0, 0, 0.75);
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
}

.output .previous-operand{
    color: rgba(255,255, 255, 0.75);
    font-size: 1.5rem;
}

.output .current-operand{
    color: white;
    font-size: 2.5rem;
}