/* https://codepen.io/mohaiman/pen/MQqMyo
https://uicookies.com/css-background-pattern/*/
/*@import url('https://fonts.googleapis.com/css?family=Exo:400,700');*/

/*https://freshman.tech/css-grid-calculator/*/

*, *::before, *::after {
    box-sizing: border-box;
    font-family: system-ui, sans-serif;
    font-weight: normal;
}


body {
    margin: 0;
    padding: 0;
    background: linear-gradient(#6EDCC7, #6EC8DC);
}

.calculator {
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 80vh;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(120px, auto) repeat(5, 100px);
}

.calculator > button {
    cursor: pointer;
    font-size: 1.5rem;
    border: solid #FFFFFF;
    outline: none;
    background-color: rgba(255, 255, 255, 0.75);
}

.calculator > button:hover {
    background-color: #a9a9a9;
}

/*.span-two {*/
/*    grid-column: span 2;*/
/*    color: #adf802;*/
/*    background-color: rgba(139, 0, 139, 0.8);*/
/*}*/

.output{
    grid-column: 1 / -1;
    background-color: rgba(0, 0, 0, 0.75);
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
}

.output .previous-operand{
    color: rgba(255,255, 255, 0.75);
    font-size: 1.5rem;
}

.output .current-operand{
    color: white;
    font-size: 2.5rem;
}



/*.operators{*/
/*    position: absolute;*/
/*    top: 0;*/
/*    left: 0;*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    overflow: hidden;*/
/*}*/

/*.operators li{*/
/*    position: absolute;*/
/*    display: inline-block;*/
/*    list-style: none;*/
/*    animation: animate 3s;*/
/*    bottom: -150px;*/
/*    align-items: center;*/
/*    justify-content: center;*/
/*    font-size: 4em;*/
/*    color: #8CD8B6;*/

/*}*/

/*.operators li:nth-child(1){*/
/*    left: 25%;*/
/*    width: 80px;*/
/*    height: 80px;*/
/*    !*animation-delay: 0s;*!*/
/*}*/


/*.operators li:nth-child(2){*/
/*    left: 10%;*/
/*    width: 20px;*/
/*    height: 20px;*/
/*    !*animation-delay: 2s;*!*/
/*    animation-duration: 2s;*/
/*}*/

/*.operators li:nth-child(3){*/
/*    left: 70%;*/
/*    width: 20px;*/
/*    height: 20px;*/
/*    !*animation-delay: 4s;*!*/
/*}*/

/*.operators li:nth-child(4){*/
/*    left: 40%;*/
/*    width: 60px;*/
/*    height: 60px;*/
/*    !*animation-delay: 0s;*!*/
/*    animation-duration: 2s;*/
/*}*/

/*.operators li:nth-child(5){*/
/*    left: 65%;*/
/*    width: 20px;*/
/*    height: 20px;*/
/*    !*animation-delay: 0s;*!*/
/*}*/

/*.operators li:nth-child(6){*/
/*    left: 75%;*/
/*    width: 110px;*/
/*    height: 110px;*/
/*    !*animation-delay: 3s;*!*/
/*}*/

/*.operators li:nth-child(7){*/
/*    left: 35%;*/
/*    width: 150px;*/
/*    height: 150px;*/
/*    !*animation-delay: 7s;*!*/
/*}*/

/*.operators li:nth-child(8){*/
/*    left: 50%;*/
/*    width: 25px;*/
/*    height: 25px;*/
/*    !*animation-delay: 15s;*!*/
/*    animation-duration: 3s;*/
/*}*/

/*.operators li:nth-child(9){*/
/*    left: 20%;*/
/*    width: 15px;*/
/*    height: 15px;*/
/*    !*animation-delay: 2s;*!*/
/*    animation-duration: 3s;*/
/*}*/

/*.operators li:nth-child(10){*/
/*    left: 85%;*/
/*    width: 150px;*/
/*    height: 150px;*/
/*    !*animation-delay: 0s;*!*/
/*    animation-duration: 1s;*/
/*}*/



/*@keyframes animate {*/

/*    0%{*/
/*        transform: translateY(0) rotate(0deg);*/
/*        opacity: 1;*/
/*        !*border-radius: 0;*!*/
/*        !*background: red;*!*/
/*        !*height: 100px;*!*/
/*        !*position: relative;*!*/
/*        !*width: 20px;*!*/
/*    }*/

/*    100%{*/
/*        transform: translateY(-1000px) rotate(720deg);*/
/*        opacity: 0;*/
/*        !*border-radius: 50%;*!*/
/*        !*background: red;*!*/
/*        !*content: "";*!*/
/*        !*height: 20px;*!*/
/*        !*left: -40px;*!*/
/*        !*position: absolute;*!*/
/*        !*top: 40px;*!*/
/*        !*width: 100px;*!*/
/*    }*/

/*}*/